@import "dimens";
@import "colors";

#wrap-skew{
    margin-top: -1px;
    @include transform(skewY(4deg));
    background-color: $diapo-bg-color;
    @include calc(height, "100vh");
    padding-top: 100px;
    padding-bottom: $title-height*2;
    @media (max-width: $smartphone){
        @include calc(height, "100vh - $navigation-height*2 - 2px");
    }
    #wrap-diapo{
        height: inherit;
        position: relative;
        overflow: hidden;
        @include transform(skewY(-4deg));
        @media (max-width: $smartphone){
            padding-top: $navigation-height*2;
        }
        .swipe {
            overflow: hidden;
            visibility: hidden;
            position: relative;
            height: 100%;
            .swipe-wrap {
                overflow: hidden;
                position: relative;
                div{
                    display: block;
                    height: 100%;
                    width: 100%;
                    float: left;
                    position: relative;
                    img {
                        width: 100%;
                    }
                }
            }
        }
        #ctrl-next, #ctrl-prec {
            position: absolute;
            top: 42%;
            width: 250px;
            height: 250px;
            background-color: rgb(42,42,42);
            border: 2px solid rgb(255,255,255);
            opacity: 0.2;
            border-radius: 50%;
            @include transition(opacity 0.4s linear);
            &:hover {
                opacity: 0.7;
            }
            &::before {
                content: "";
                position: absolute;
                height: 50px;
                top: 90px;
                width: 5px;
                background-color: white;
                border-radius: 100px;
            }
            &::after {
                content: "";
                position: absolute;
                height: 50px;
                top: 123px;
                width: 5px;
                background-color: white;
                border-radius: 100px;
            }
        }
        #ctrl-next {
            right: -125px;
            &::before {
                left: 30%;
                @include transform(rotate(-45deg));
            }
            &::after {
                left: 30%;
                @include transform(rotate(45deg));
            }
        }
        #ctrl-prec {
            left: -125px;
            &::before {
                right: 30%;
                @include transform(rotate(45deg));
            }
            &::after {
                right: 30%;
                @include transform(rotate(-45deg));
            }
        }
    }
}
